= panel_filter do
  = form_filter_tag :document_templates, action: "index" do
    
    = field_group_inline_tag :name, "Title" do
      = text_field_tag :title, params[:title], class: "form-control"