<% content_for :header do %>  

<script type="text/javascript">

    var ins_el;
    var ins_vc;
    
    function vcMessage(msg){
        $("#vc_dialog").text(msg);
        $("#vc_dialog").dialog("open");
        $("#vc_dialog").dialog({
          bgiframe: true,
          modal: true,
          buttons:{
            "Close": function(){ $(this).dialog("close"); }
          }
        });
    }
    
    function vc_export(type){

      $("#div-exporting").css("display","block");

      if(type)
        str_type = "all";
      else
        str_type = "some";

      getSearchKeys();

      $.download("<%= url_for(:controller => 'voice_logs',:action => 'export') %>",{
        type: type,
        keys: searchKey.keys,
        periods: searchKey.periods,
        stdate: searchKey.stdate,
        sttime: searchKey.sttime,
        eddate: searchKey.eddate,
        edtime: searchKey.edtime,
        ext: searchKey.ext,
        calld: searchKey.calld,
        caller: searchKey.caller,
        dialed: searchKey.dialed,
        stdur: searchKey.stdu,
        eddur: searchKey.eddu,
		keyword: searchKey.keyword,
        page: ctrlPage.selectPage,
		perpage: ctrlPage.perPage,
        sortby: ctrlSort.colName,
        od: ctrlSort.order,
        usr: '<%= @username %>'
      },function(data){
          $("#div-exporting").css("display","none");
      });
      $("#div-exporting").css("display","none");
    }

    function vc_print(type){

      if(type)
        str_type = "all";
      else
        str_type = "some";

      getSearchKeys();

      var params = {
        type: type,
        keys: searchKey.keys,
        periods: searchKey.periods,
        stdate: searchKey.stdate,
        sttime: searchKey.sttime,
        eddate: searchKey.eddate,
        edtime: searchKey.edtime,
        ext: searchKey.ext,
        calld: searchKey.calld,
        caller: searchKey.caller,
        dialed: searchKey.dialed,
        stdur: searchKey.stdu,
        eddur: searchKey.eddu,
		keyword: searchKey.keyword,
        page: ctrlPage.selectPage,
		perpage: ctrlPage.perPage,
        sortby: ctrlSort.colName,
        od: ctrlSort.order,
        usr: '<%= @username %>'
      }

      var url = ""
      $.each(params,function(key){
        url += key + "=" + params[key] + "&";
      });

      window.open("<%= url_for(:controller => 'voice_logs',:action => 'print') %>?" + url,"Print","menubar=yes,scrollbars=yes,location=no");
    }

      $(document).ajaxError(function(xhr, ajaxOptions, thrownError){
        if(vc_start){
          progressEnabled(false);
          $("#btnsearch").attr("disabled","");
          vcMessage("Searching voices have some problem. Please try again.");
          vc_start = false;
        }
      });

    </script>
    
<% end %>

<div id="vc_dialog" title="Call Search" style="display:none"></div>
