<table width="100%">
	<tr>
		<td valign="top"><%=render :partial => 'top_panel/main_menus' %></td>
		<td valign="top" align="right"><%=render :partial => 'top_panel/report_today' %></td>
	</tr>
</table>