<script type="text/javascript">
  $(document).ready(function(){
    window.location.href = Routes.home_index_path();  
  });
</script>
  
<h4>Please wait a moment. Page is redirecting or click <a href="<%= root_path %>">here.</a></h4>