div#qTip {
	padding: 2px;
	padding-left:4px;
	padding-right:4px;
	border: 1px solid #ffffff;
	border-right: 1px;
	border-bottom: 1px;
	display: none;
	background: #7aa7ff;
	color: #FFF;
	text-align: center;
	position: absolute;
	z-index: 1000;
	background-repeat:repeat-x;
	background-image:url('../images/qtip.gif');
}