<div id="waitDialog" title="Please wait" style="display:none">
	<table>
		<tr>
			<td width="30px" valign="top"><%=image_tag('loading20.gif') %></td>
			<td><span class="message"></span></td>
		</tr>
	</table>
</div>
<div id="confirmDialog" title="Confirmation..." style="display:none">
	<table>
		<tr>
			<td><span class="message"></span></td>
		</tr>
	</table>
</div>

<div id="DialogWaiting" title="Please wait" style="display:none">
	<table>
		<tr>
			<td width="30px" valign="top"><%=image_tag('loading20.gif') %></td>
			<td><span id="dialog-msg-wait"></span></td>
		</tr>
	</table>
</div>
<div id="delDialog" style="display:none"></div>