<div id="expandcontractdiv">
  <a id="expand" href="#">Expand all</a> |
  <a id="collapse" href="#">Collapse all</a>
</div>
<div id="treediv" align="left"></div>
<input type="textbox" id="myurl" style="display:none">