<%content_for :header do%>
  <style type="text/css">
     .first_col {
       padding-left:14px;
     }
     input:button {
       font-weight:bold;
     }
  </style>
<%end%>
<% content_for :submenu do %>
  <div id="submenu">
    <table width="100%">
      <tr>
        <td align="left">
          <ul>
            <li><%= link_image_tag('Back','back.png',{:controller => 'extension',:action => 'index'},{:title => 'Back to Extension list.'}) %></li>
          </ul>
        </td>
        <td align="right">
        </td>
      </tr>
    </table>
  </div>
<% end %>
<div class="div-form-default-style1">
  <table class="tblfrm" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td><span class="span-form-title">Import extension</span></td>
    </tr>
    <tr>
      <td><span class="span-form-name">import options</span></td>
    </tr>
    <tr>
      <td>
        <%=display_frm_error(flash[:message])%>
        <% form_for :dump, :url=>{:controller=>"extension",

                    :action=>"csv_import",:extype=>params[:extype]},

                    :html => {:multipart => true } do |f| -%>
 <table>
   <tr>
     <td class="first_col">
      <label for="dump_file">
        Select a CSV File :
      </label>
     </td>
     <td>
       <%= f.file_field :file,{:style=>"width:450px;"}-%>
     </td>
   </tr>
   <tr>
     <td class="first_col"><label>Option :</label></td>
     <td>
       <input type="radio" id="im_option1" name="imoption" value="u" checked="true">Update
       <input type="radio" id="im_option2" name="imoption" value="r">Replace All
     </td>
   </tr>
   <tr>
     <td colspan='2'>
       <%= submit_tag 'Import' -%>
     </td>
   </tr>
   <tr>
   </tr>
 </table>
<% end %>
      </td>
    </tr>
  </table>
</div>

