<style type="text/css">
  div#agent-search {
    text-align: center;
    padding: 4px 0px 4px 0px;
  }
  div#agent-tree {
    overflow: scroll;
    background: #ffffff;
    border: 1px solid #cccccc;
    width: 170px;
  }
</style>

<div id="agent-tree">
  <%= render :partial => "/shared/group_and_agents_tree3" %>
</div>