<style type="text/css">
  div#a-tree {
    overflow: scroll;
    background: #ffffff;
    border: 1px solid #0B0B61;
    width: 180px;
  }
</style>

<script type="text/javascript">
</script>

<div id="a-tree">
  <%= render :partial => "/shared/group_and_agents_tree3" %>
</div>