@import "custom_variables";

$mnt-pnl-w: 13em;
$mnt-pnl-h: 100%;
$mnt-df-gap: 1.1em;

/* main maintenance menus */

div.panel-mnt-menus {
  position: fixed;
  float: left; 
  z-index: 99990;
  width: $mnt-pnl-w;
  height: $mnt-pnl-h;
  margin-top: 0em;
  border-right:1px solid #B8B8B8;
  background-color: #FFFFFF;

  div.right-border {
    border-top:1px solid #FFFFFF;
    border-right:2px solid #EBEBEB;
    height: $mnt-pnl-h;
  }
  
  div.list-group-header {
    font-size: 0.85em;
    padding-left: 0.5em;
    padding-bottom: 0.2em;
    padding-top: 0.4em;
    font-weight: bold;
    font-style: normal;
    color: #778899;
  }
  
  div.mnt-links {
    margin-top: 3em;
    
    .xlink {
      width: inherit;
      margin-left: 0em;
      padding: 0.35em;
      font-weight: normal;
      cursor: pointer;
      color: #696969;
      
      img {
        width: 1.2em;
        margin-right: .2em;
        vertical-align: bottom;
      }
      
      &:hover {
        background-color: #E8E8E8;  
      }
    }
    
    .xlink.cur-controller {
      background-color:#E8E8E8;
    }
    
    .xlink-sub {
      padding-left: 2.5em;
      color: #5C5C5C;
      font-weight: normal;
    }
  }
}

div.panel-maintenance {
  float: left;
  width: 100%;
  margin-top: 2.5em;
  padding-left: 13em;
  
  .mnt-menu {
    margin-top: $mnt-df-gap;
    
    .navbar-mnt {
      margin-left: $mnt-df-gap;
      padding-bottom: 0.8em;
      
      a {
        padding: 0.7em;
        padding-left: 2em;
        padding-right: 2em;
        
        i {
          margin-right: 0.35em;
        }
      }
    }    
  }
  
  .mnt-horizontal-bar {
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
  }
  
  .mnt-cont {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.1em;
  }
  
  .panel-paginate {
    margin-right: $mnt-df-gap;
    
    .pagination-cs {
      img {
        vertical-align: text-top;
        width: 1.1em;
      }
      
      .page.gap {
        padding-top: 1.1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }
    
    .more-options ul.dropdown-menu {
      right: 0;
      left: auto;
    }
  }
  
  li.filter-active {
    /* background-color: #EAECEE; */
  }
}

div.mnt-filter {
  display: none;
  
  .panel-filter {
    padding: $mnt-df-gap;
    padding-bottom: 0em;

    .control-label {
      padding-top: 0em;
    }
    
    .form-control {
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      height: auto;
    }
  }
}

div.mnt-tbl {
  .panel-norecord {
    margin: 0px;
    padding: 1em;
    text-align: center;
  }
}

div.mnt-form {
  
  .panel-form {
    padding: $mnt-df-gap;
    
    .panel-form-sb {
      margin-right: 3%;  
    }
    
    .submit {
      margin-top: 2em;
      padding-left: 2.2em;
      padding-right: 2.2em;
    }
  }
}

div.mnt-view {
  padding: $mnt-df-gap;  
}

.form-horizontal {  
  /* fix bh, hide fieldset border and heading */
  fieldset.panel, fieldset.panel-default {
    border: 0px;
    box-shadow: none;
    
    .panel-heading {
      display: none;
    }
    
    .panel-body {
      border: 0px;
    }
  }
}

a.btn-help-dialog {
  margin-left: 0.5em;
}

iframe.frame-help {
  width: 99.5%;
  height: 100%;
  height: 100%;
  border: 0;
}