// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-denied {
  margin-right: 1em;
}

div.block-msg {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 1.2em;
}

div.panel-danger {
  background-color: #FADBD8;
}