
.mg-top {
  margin-top: 2em;
}

.box-subform-title {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 2em;
}

#tbl-export-condition {
  button {
    margin-right: 0.25em;
  }
  
  td.xc-no {
    width: 3em;
  }
  
  td.xc-cd {
    width: 20em;
  }
  
  td.xc-bt {
    width: 15em;
  }
  
}