/*
.paginationx a, .pagination span.current, .pagination span.gap {
  float: left;
  margin-right: .2em;
}

.paginationx a:hover {
  background-color: #E5E4E2;
}

.paginationx {
  margin: 0em;

  .first{
    float: none;
    border: none;
  }
  .prev {
    float: none;
    border: none;
  }
  .page{
    float: none;
    border: none;
  }
  .next{
    float: none;
    border: none;
  }
  .last{
    float: none;
    border: none;
    margin-right: .5em;  
  }
  .more-option {
    margin-top: .5em;
    margin-right: .2em;
  }
}
*/