div.ml-message,
div.ml-footer {
  width: 100%;
}

div.ml-message {
  padding: 1em;
}

div.ml-link {
  
}

div.ml-footer {
  padding: 1em;
  margin-top: 0.5em;
  border-top: 1px solid #CCCCCC;
  font-style: italic;
}

a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

label {
  font-weight: bold;
}