body {
  overflow-x: hidden;
}

h3 {
  color: #4F94CD;   
}

img.pic-mn-80 {
  width: 80%;  
}

img.pic-mn-70 {
  width: 70%;  
}

.table.table-manual {
  thead {
    font-weight: bold;
    
    td {
      background-color: #F0F8FF;
    }
  }
}