td.td-category {
  font-weight: bold;
  color: #3498DB;
  background-color: #EBF5FB;
}

div.block-item-0, div.block-item-1, div.block-item-2, div.block-item-3, div.block-item-4 {
  display: inline-block;
}

div.block-item-2 {
  margin-left: 1.5em;
}

div.block-item-3 {
  margin-left: 3.0em;
}

div.block-item-4 {
  margin-left: 4.5em;
}